* {
    box-sizing: border-box;
}

#container {
    background-color: rgb(231, 231, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1024px;
    margin: auto;
    padding: 1em;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 15px 4px rgba(0,0,0,0.49); 
    box-shadow: 0px 3px 15px 4px rgba(0,0,0,0.49);
}

footer {
    padding-top: 2em;
    text-align: center;
    margin: auto;
}

#file-drop {
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
    transition: .2s ease-in-out;
}

#file-drop.dragover {
    background-color: rgb(250, 250, 250);
    color: gray;
}

.container-header {
    position: relative;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 1em;
}

.close-button {
    position: absolute;
    right: .5em;
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

.close-button:hover {
    color: black;
    transition: .2s ease-in-out;
}

.day-number {
    padding-left: 1em;
}

.sum {
    text-align: right;
    padding-right: 1em;
}

.day {
    display: grid;
    grid-template-columns: 3em 5em auto 8em;
    position: relative;
    width: 100%;
    height: 1.5em;
    align-items: center;
}

.day.weekend {
    background-color: rgb(197, 197, 197);
}

.intervals {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border: solid black 1px;
    border-width: 0 2px 0 2px;
    border-bottom: solid rgb(180, 180, 180) 1px;
}

.day:last-child .intervals{
    border-bottom: none;
}

.intervals > .hour-number {
    display: inline-block;
    height: 100%;
    flex-basis: 0;
    flex-grow: 1;
    overflow: hidden;
    border-left: solid gray 1px;
    padding: .2em;
    /* z-index: 100; */
}

.interval {
    position: absolute;
    height: 85%;
    display: inline-block;
    /* overflow: hidden; */
    text-align: center;
    border-radius: 5px;
    opacity: .9;
    z-index: 1;
    background-color: pink;
}

.interval:before {
    content: '';
    text-align: left;
    position: absolute;
    margin-left: .3em;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 60%;
}

.interval.work {
    background-color: #01ce6e
}
.interval.work::before{
    background-image: url('data:image/svg+xml;utf8,<svg color="rgba(0,0,0,.3)" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="laptop" class="svg-inline--fa fa-laptop fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M624 416H381.54c-.74 19.81-14.71 32-32.74 32H288c-18.69 0-33.02-17.47-32.77-32H16c-8.8 0-16 7.2-16 16v16c0 35.2 28.8 64 64 64h512c35.2 0 64-28.8 64-64v-16c0-8.8-7.2-16-16-16zM576 48c0-26.4-21.6-48-48-48H112C85.6 0 64 21.6 64 48v336h512V48zm-64 272H128V64h384v256z"></path></svg>');
}

.interval.HO {
    background-color: #f1c500;
}
.interval.HO::before{
    background-image: url('data:image/svg+xml;utf8,<svg color="rgba(0,0,0,.3)" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="laptop-house" class="svg-inline--fa fa-laptop-house fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M272,288H208a16,16,0,0,1-16-16V208a16,16,0,0,1,16-16h64a16,16,0,0,1,16,16v37.12C299.11,232.24,315,224,332.8,224H469.74l6.65-7.53A16.51,16.51,0,0,0,480,207a16.31,16.31,0,0,0-4.75-10.61L416,144V48a16,16,0,0,0-16-16H368a16,16,0,0,0-16,16V87.3L263.5,8.92C258,4,247.45,0,240.05,0s-17.93,4-23.47,8.92L4.78,196.42A16.15,16.15,0,0,0,0,207a16.4,16.4,0,0,0,3.55,9.39L22.34,237.7A16.22,16.22,0,0,0,33,242.48,16.51,16.51,0,0,0,42.34,239L64,219.88V384a32,32,0,0,0,32,32H272ZM629.33,448H592V288c0-17.67-12.89-32-28.8-32H332.8c-15.91,0-28.8,14.33-28.8,32V448H266.67A10.67,10.67,0,0,0,256,458.67v10.66A42.82,42.82,0,0,0,298.6,512H597.4A42.82,42.82,0,0,0,640,469.33V458.67A10.67,10.67,0,0,0,629.33,448ZM544,448H352V304H544Z"></path></svg>');
}

.interval.doctor {
    background-color: #80cbf7;
}
.interval.doctor::before{
    background-image: url('data:image/svg+xml;utf8,<svg color="rgba(0,0,0,.3)" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="briefcase-medical" class="svg-inline--fa fa-briefcase-medical fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M464 128h-80V80c0-26.5-21.5-48-48-48H176c-26.5 0-48 21.5-48 48v48H48c-26.5 0-48 21.5-48 48v288c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V176c0-26.5-21.5-48-48-48zM192 96h128v32H192V96zm160 248c0 4.4-3.6 8-8 8h-56v56c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8v-56h-56c-4.4 0-8-3.6-8-8v-48c0-4.4 3.6-8 8-8h56v-56c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v56h56c4.4 0 8 3.6 8 8v48z"></path></svg>');
}

.interval.lunch {
    background-color: #2774df;
    height: 86%;
}
.interval.lunch::before{
    background-image: url('data:image/svg+xml;utf8,<svg color="rgba(0,0,0,.3)" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="utensils" class="svg-inline--fa fa-utensils fa-w-13" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 416 512"><path fill="currentColor" d="M207.9 15.2c.8 4.7 16.1 94.5 16.1 128.8 0 52.3-27.8 89.6-68.9 104.6L168 486.7c.7 13.7-10.2 25.3-24 25.3H80c-13.7 0-24.7-11.5-24-25.3l12.9-238.1C27.7 233.6 0 196.2 0 144 0 109.6 15.3 19.9 16.1 15.2 19.3-5.1 61.4-5.4 64 16.3v141.2c1.3 3.4 15.1 3.2 16 0 1.4-25.3 7.9-139.2 8-141.8 3.3-20.8 44.7-20.8 47.9 0 .2 2.7 6.6 116.5 8 141.8.9 3.2 14.8 3.4 16 0V16.3c2.6-21.6 44.8-21.4 48-1.1zm119.2 285.7l-15 185.1c-1.2 14 9.9 26 23.9 26h56c13.3 0 24-10.7 24-24V24c0-13.2-10.7-24-24-24-82.5 0-221.4 178.5-64.9 300.9z"></path></svg>');
}


.interval:hover {
    filter: saturate(50%);
    z-index: 2;
}

.interval.ongoing {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 3px;
    border-right-color: gray;
    border-right-style: solid;
}

.interval > .interval-tooltip
{
    opacity: 0;
    position: absolute;
    color: white;
    background-color: black;
    left: calc(50% - 75px);
    top: 110%;
    z-index: 100;
    width: 150px;
    height: 0px;
    padding: .5em;
    border-radius: 5px;

}

.interval:hover > .interval-tooltip {
    opacity: .7;
    z-index: 10;
    height: auto;
    pointer-events: none;
    transition: .15s ease-out;
}
